<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>wesh</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

</head>

<body>


  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="image/wish-logo-800.png" alt="" width="75px">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>


        <select v-model="searchcategories" class="form-control">
          <option value="">Toutes les catégories</option>
          <option value="men clothing">Vêtements pour Hommes</option>
          <option value="women clothing">Vêtements pour Femmes</option>
          <option value="jewelery">Bijoux</option>
          <option value="electronics">Hi-tech</option>
        </select>
        <select v-model="searchprice" class="form-control">
          <option value="">Tous les prix</option>
          <option value="10">Moins de 10€</option>
          <option value="50">Entre de 10€ et 50€</option>
          <option value="51">Entre de 50€ et 100€</option>
          <option value="101">Supérieur 100€</option>
        </select>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input v-model="searchValue" class="form-control mr-sm-2" type="text" placeholder="rechercher..">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <div class="container">
      <div class="row ">

        <div class="col-3 mt-4" v-for="product in   filteredRecipes ">

          <img v-bind:src=product.image style="width:150px; height:auto">
          {{product.title}}
          {{product.price}}
          {{product.category}}
        </div>


      </div>
    </div>
  </div>


  <script>
    var app = new Vue({
      el: '#app',
      data: {
        posts: [],
        searchValue: '',
        searchcategories: '',
        searchprice: '',

      },

      mounted() {
        axios.get('https://fakestoreapi.com/products').then(reponse => this.posts = reponse.data).catch(erreur =>
          this.posts = [{
            title: "Erreur de chargement"
          }]);

      },
      computed: {
        filteredRecipes() {
          let tempRecipes = this.posts

          if (this.searchValue != '' && this.searchValue) {
            tempRecipes = tempRecipes.filter((post) => {
              return (post.title
                .toUpperCase()
                .includes(this.searchValue.toUpperCase())) || (post.description
                .toUpperCase()
                .includes(this.searchValue.toUpperCase()))
            })

          }

          if (this.searchcategories != '' && this.searchcategories) {
            tempRecipes = tempRecipes.filter((post) => {
              return (post.category == this.searchcategories)

            })
          }
          if (this.searchprice != '' && this.searchprice) {
            tempRecipes = tempRecipes.filter((post) => {
              if (this.searchprice == 10) {

                return post.price <= 10
              }
              if (this.searchprice == 50) {

                return (post.price <= 50) && (post.price > 10)
              }
              if (this.searchprice == 51) {

                return (post.price <= 100) && (post.price >= 50)
              }
              if (this.searchprice == 101) {

return (post.price > 100)  
}


            })
          }

          return tempRecipes
        }

      }

    })
  </script>


</body>

</html>